<br><br>
<section class="fill">
<div class="container wow fadeInUp">
	<form action="/area/crear_area" method="POST" accept-charset="utf-8" class="contactForm">
		 <div class="form-group">
		<label>Nombre Area</label>
		<input type="text" name="nombre_area" class = "form-control" data-rule="minlen:4" id="id_area" placeholder="area" required>
		<br/>
		<input type="submit" name="Crear Area" value="Registrar Area" class="btn btn-default"/>
	</div>
	</form>
</div>
</section>
