<br><br>
<section class="fill">
<div class="container wow fadeInUp">
   <div class="col-md-offset-2 col-md-8">
       <h3 class="section-title">Nueva area</h3>
                <div class="section-title-divider"></div>
   
	<form action="/area/crear_area" method="POST" accept-charset="utf-8" class="contactForm">
		 <div class="form-group">
		<label>Area</label>
		<input type="text" name="nombre_area" class = "form-control" data-rule="minlen:4" id="id_area" placeholder="Ingrese el nombre del Area" required>
		<br/>
		<div class="text-center"><input type="submit" name="Crear Area" value="Registrar Area" class="btn btn-primary"/></div>
	</div>
	</form>
	</div>
</div>
</section>
