<!--==========================
  Hero Section
============================-->
  <section id="hero" class="fill">
    <div class="hero-container">
      <div class="wow fadeIn">
        <div class="hero-logo">
          <h1 class="" >Olimpiada Boliviana Cientifica</h1>
        </div>
        
        <h1>Bienvenido!</h1>
        
        <div class="actions">
          <a href="#login" class="btn-get-started">Iniciar Sesion</a>
          <a href="/estudiante/registroEstudiante" class="btn-services">Registrarse</a>
        </div>
      </div>
    </div>
  </section>

  <!--==========================
  Services Section
============================-->
  <section id="login" class="fill">
    <div class="container wow fadeInUp">
    <div class="row">
        <div class="col-md-6 col-md-push-3 center-block">
            <h3 class="section-title">Iniciar sesion</h3>
            <div class="section-title-divider"></div>
            <h5 class="section-description">Por favor ingrese su identificador y contraseña<br>EN DESARROLLO</h5>

            <form action="form" method="post" role="form" class="contactForm">
                <div class="form-group">
                    <label for="id">Identificador:</label><input type="text" name="identificador" class="form-control" id="id" placeholder="Identificador" data-rule="minlen:4" data-msg="Ingrese su ID" title="id" required/>
                    <label for="id">Contraseña:</label><input type="password" name="password" class="form-control" id="password" placeholder="Password" data-rule="minlen:4" data-msg="Ingrese su password" title="password" required/>
                    <div class="text-center">
                    <input class="btn btn-primary minifill" value="Ingresar!" >
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
    
</section>