<!--==========================
  Contact Section
============================--> 
  <section id="contact" class="fill">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Registro de preguntas</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Ingrese la pregunta con su respuesta</p>
        </div>
      </div>
      
      <div class="row">
        
        <div class="col-md-8 col-md-push-3">
          <div class="form">
            <div id="sendmessage">Su registro fue enviado</div>
            <div id="errormessage"></div>
            <form action="/evaluador/registrar_evaluador" method="post" role="form" class="contactForm">

                <div class="form-group">
                  <label>Pregunta: </label>
                  <input type="text" name="pregunta" class="form-control" id="name" placeholder="CI" data-rule="minlen:4" data-msg="Ingrese el ID del evaluador" title="Nombre" required/>
                  <div class="validation"></div>
                </div>

                <div class="form-group">
                  <label>Respuesta:</label>
                  <input type="text" name="respuesta" class="form-control" id="name" placeholder="nombres apellidos" data-rule="minlen:5" data-msg="Ingrese el nombre completo del evaluador" title="Nombre" required/>
                  <div class="validation"></div>
                </div>
                
                <div class="form-group">
                  <label>Compljidad:</label>
                  <input type="email" class="form-control" name="complejidad_pregunta" id="email" placeholder="alguien@gmail.com" data-rule="email" data-msg="Ingrese un email valido" required/>
                  <div class="validation"></div>
                </div>
                
                <div class="form-group">
                  <label>Tema:</label>

                  <select class="form-control" name="area_evaluador">
                       <%_.each(temas,function(tema){%>
                      <option value="<%=area.id_area%>"><%= tema.nombre_tema%></option>
                      <%})%>
                 </select>
                  <div class="validation"></div>
                </div>
                
                <div class="text-center">
                  <input type="submit" name="Registrar Evaludor" value="Registrar Evaluador" class="btn btn-default"/>
                </div>
            </form>
          </div>
        </div>
        
      </div>
    </div>
  </section>
