<br><br><section id="examen" class="fill">
    <div class="container wow fadeInUp">
        <h3>Examenes</h3>
        <div col-md-offset-2 col-md-8>
            <table class='table table-bordered'>
                <tr>
                    <th>Fecha de Inicio</th>
                    <th>Duracion</th>
                    <th>Area</th>

                </tr>
            </table>
            <button class="btn-primary text-center" href="/evaluador/new_evaluador">Registrar nuevo evaluador</button>
        </div>
    </div>

</section>  