<br><br>
<section id="new_examen" class ="fill">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
               <h3 class="section-title">Crear nuevo examen</h3>
        <div class="section-title-divider"></div>
                <div class="col-md-12 " ></div><h6>INSTRUCCIONES</h6>
                <ol class="list-group">
                    <li class="list-group-item">1. Seleccione las preguntas que desea incluir en el examen.</li>
                    <li class="list-group-item">2. Un examen esta compuesto de 10 preguntas.</li>
                    <li class="list-group-item">3. Por favor tenga cuidado de seleccionar preguntas distintas en cada espacio.
                    </li>
                </ol>
                <div class="section-title-divider"></div>
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <form class="form">
                            <div class="form-group">
                                <label for="">Pregunta 1, dificultad 1</label>
                                <select name="pregunta" id="" class="form-control">
                                    
                                </select>
                                <label for="">Pregunta 2, dificultad 1</label>
                                <select name="" id="" class="form-control"></select>
                                <label for="">Pregunta 3, dificultad 1</label>
                                <select name="" id="" class="form-control"></select>
                                <label for="">Pregunta 4, dificultad 2</label>
                                <select name="" id="" class="form-control"></select>
                                <label for="">Pregunta 5, dificultad 2</label>
                                <select name="" id="" class="form-control"></select>
                                <label for="">Pregunta 6, dificultad 2</label>
                                <select name="" id="" class="form-control"></select>
                                <label for="">Pregunta 7, dificultad 3</label>
                                <select name="" id="" class="form-control"></select>
                                <label for="">Pregunta 8, dificultad 3</label>
                                <select name="" id="" class="form-control"></select>
                                <label for="">Pregunta 9, dificultad 4</label>
                                <select name="" id="" class="form-control"></select>
                                <label for="">Pregunta 10, dificultad 4</label>
                                <select name="" id="" class="form-control"></select>
                                <input type="submit" class="center-block btn btn-primary" value="Crear Examen"> 

                            </div>
                        </form>    
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>